html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  background: #f6f6f6;
}

* {
  box-sizing: border-box;
}
